USE [master]
GO
/****** Object:  Database [EmployeesDb]    Script Date: 11/02/2025 09:57:58 p. m. ******/
CREATE DATABASE [EmployeesDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeesDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeesDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeesDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeesDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeesDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/02/2025 09:57:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/02/2025 09:57:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250206063024_initial migration', N'9.0.1')
GO
INSERT [dbo].[Employees] ([Id], [Name], [Email], [Phone], [Salary]) VALUES (N'6310173f-1943-49a7-6904-08dd4b06c858', N'Juan Perez', N'JuanPerez@Email.com', N'+52 81199932', CAST(187761.00 AS Decimal(18, 2)))
INSERT [dbo].[Employees] ([Id], [Name], [Email], [Phone], [Salary]) VALUES (N'12fbea5c-6ddd-4362-9971-4f7bdf36fa1c', N'Raul Perez', N'Raul.Perez12@pez.com', N'+52 81100000', CAST(5000.00 AS Decimal(18, 2)))
GO
USE [master]
GO
